.ss-component-artworks{
	position: relative;
}

.pswp-thumbnails{
	display: none;

	@include mq(desktop){
		margin-top: -40px;
		-js-display: flex;
		@include flexbox();
		@include flex-direction(column);
		@include flex-direction(row);
		h4,p{
			text-align:center;	
		}
	}
	

.ss-component-arwtworks-paintings-caption{
	text-align:center;

	@include mq(desktop){
		text-align:left;		
	}
}

}

.ss-component-arwtworks-cta{
margin-top: -$related-spacing;
	.ss-standard-cta-link{
		position: relative;
		z-index:99;
	}
button{
	@extend .ss-center-item;	
	}
}